@font-face {
    font-family: goldman;
    src: url(Goldman-Bold.ttf);
}

body {
    font-family: goldman;
    text-align: center;
    width: auto;
    background-color: darkslategrey;
    color: deepskyblue;
}

h1 {
    font-size: 50px;
}

h2 {
    min-height: 3em;
}
.container {
    text-align: center;
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

header > button {
    font-family: goldman;
    font-size: 20px;
    color: deepskyblue;
    background-color: transparent;
    border-width: 0.5px;
    cursor: pointer;
    outline: none;
}

header > button:hover {
    background-color: rgb(57, 95, 95);
}

header > button:active {
    transform: scale(0.95);  
}

.grid {
    background-color: deepskyblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
}

.grid > button {
    font-family: inherit;
    height: 100px;
    width: 100px;
    border: none;
    outline: none;
    background-color: darkslategrey;
    color: deepskyblue;
    font-size: 50px;
    cursor: pointer;
}

.grid > button:hover {
    background-color:  rgba(57, 95, 95, 0.904);
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }