@font-face {
    font-family: goldman;
    src: url(Goldman-Bold.ttf);
}

body {
    font-family: goldman;
    text-align: center;
    width: auto;
    min-height: 100vh;
    background-color: darkslategrey;
    color: deepskyblue;
    padding-bottom: 5px;
}

h1 {
    font-size: 50px;
}

h2 {
    min-height: 3em;
}
.container {
    text-align: center;
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

header > button {
    font-family: goldman;
    font-size: 20px;
    color: deepskyblue;
    background-color: transparent;
    border-width: 0.5px;
    cursor: pointer;
    outline: none;
}

header > button:hover {
    background-color: rgb(57, 95, 95);
}

header > button:active {
    transform: scale(0.95);  
}
label {
    font-size: 20px;
}
input {
    color: whitesmoke;
    font-family: inherit;
    font-size: 14px;
    text-align: center;
    float: right;
    width: 55%;
    outline: none;
    border-style: ridge; 
    border-color: deepskyblue;
    background-color: transparent;
}

::placeholder {
    color: deepskyblue
}

.grid {
    background-color: deepskyblue;
    display: grid;
    height: 300px;
    width: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
    
}

.grid > button {
    font-family: inherit;
    border: none;
    outline: none;
    background-color: darkslategrey;
    color: deepskyblue;
    font-size: 50px;
    cursor: pointer;

}

.grid > button:hover {
    background-color:  rgba(57, 95, 95, 0.904);
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}
  
#text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

footer {
    color: darkslategray;
    font-size: 10pt;
    position: relative;
    width: 100%;
    bottom: -1.5rem;
}

footer:hover {
    color: deepskyblue;
}