body {
    text-align: center;
    width: auto;
    font-family: sans-serif;
    background-color: darkslategrey;
    color: deepskyblue;
}

h1 {
    font-size: 50px;
}
.container {
    text-align: center;
    height: 300px;
    width: 300px;
    margin: 0 auto;
}

.grid {
    background-color: deepskyblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
}

.grid > button {
    height: 100px;
    width: 100px;
    border: none;
    outline: none;
    background-color: darkslategrey;
    color: deepskyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    cursor: pointer;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 350px;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }